@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: rebeccapurple;
  --accent-light: color-mix(in lch, var(--accent) 90%, white);
  --accent-dark: color-mix(in lch, var(--accent) 70%, black);
  --focus-ring: 0 0 0 1px white, 0 0 0 3px var(--accent);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
